/****************
flex-box stylings
******************/

.flexwrapper {
  display: flex;
 justify-content: space-between;
  flex-direction: row-reverse;

}


.primary {
	background-color: #FAFAFA;
	width: 50%;
	margin: 5% 8% 0 0;
	padding: 10% 5% 0 0;


}

.secondary {

	display: flex;
	flex-direction: column;
	align-content: center;
	background-color: #FAFAFA;
	width: 25%;
	margin: 5% 0 0 8%;

}
.secondary > * {
	padding: 5% 20%;
}


.nav {
	display: flex;
	flex-direction: column;


}
.nav a {
	color: black;
	text-decoration: none;
	text-align: center;
	padding-top: 2em;

}
.nav p {
	text-align: center;
	font-size: .5em;
}

.nav a:hover {
	color: green;
}


body {
	margin-top: 3%;
	background-color: #F3F3F3;
}


img {
	display: block;
	margin: 0 auto;
}

p {
	padding: 0 3em 5em;
}

h2 {
	padding-left: 2em;
}
