/****************
flex-box stylings
******************/

.flexwrapper {
  display: flex;
 justify-content: space-between;
  flex-direction: row-reverse;

}


.primary {
	background-color: pink;
	width: 50%;
	margin: 5% 5% 0 0;
	padding: 10% 5% 0 0;

}

.secondary {
	background-color: blue;
	width: 25%;
	margin: 5% 0 0 5%;
}

/* Body top margin*/

body {
	margin-top: 3%;
}