body {
	box-sizing: border-box;
}


/****************
flex-box stylings
******************/

.flexwrapper {
  display: flex;
 justify-content: space-between;
  flex-direction: row-reverse;

}


.primary {
	background-color: silver;
	width: 60%;

}

.secondary {
	background-color: lightgrey;
	width: 30%;

}

/****************
stylings for secondary section
******************/


.secondary {

	display: flex;
	flex-direction: column;
	align-content: center;


}




